gen/
edmx/
schema.sql
schema-nomocks.sql
default-env.json
openapi.json

bin/
target/
.java-version
.flattened-pom.xml
.classpath
.project
.settings
.vscode
.idea
*.iml

node/
node_modules/
package-lock.json

.mta/
*.mtar
mta.yaml

*.log*
gc_history*
hs_err*
.DS_Store

*.db
