gen/
edmx/
schema-h2.sql
schema-nomocks.sql
default-env.json
openapi.json
.env
.values.yaml

bin/
target/
.java-version
.flattened-pom.xml
.classpath
.project
.settings
.vscode
.idea
*.iml

node/
node_modules/

.mta/
*.mtar
mta.yaml

*.log*
gc_history*
hs_err*
.DS_Store

*.db
*.sqlite*

.cdsrc-private.json

/chart/
.reloadtrigger
