gen/
edmx/
schema.sql
default-env.json

bin/
target/
.flattened-pom.xml
.classpath
.project
.settings
.vscode

node/
node_modules/
package-lock.json

.mta/
*.mtar

*.log*
gc_history*
hs_err*
.DS_Store

*.db
