registry=https://common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/
@dwc:registry=https://common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/
@sap:registry=https://common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/
//common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/:_auth=${PIPER_VAULTCREDENTIAL_AUTH}
//common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/always_auth=true
