---
spring:
  web.resources.static-locations: "file:./app"
  
server.servlet.encoding:
  charset: UTF-8
  force: true
  
cds:
  odata-v4.endpoint.path: "/api"
  messaging.services:
    messaging-em:
      kind: enterprise-messaging
      enabled: false
  security.mock.users:
    - name: admin
      password: admin
      roles:
      - admin
      attributes:
        businessPartner:
        - "10401010"
    - name: user
      password: user
      
---
spring:
  config.activate.on-profile: remote-service

cds:
  messaging.services:
    messaging-file:
      kind: file-based-messaging
      binding: '/Users/d040506/git/cap/samples/messaging.txt'
  remote.services:
    - name: ReviewService

---
spring:
  config.activate.on-profile: cloud
cds:
  messaging.services:
    messaging-em:
      kind: enterprise-messaging
      enabled: true
  remote.services:
  - name: ReviewService

---
spring:
  config.activate.on-profile: default
cds:
  datasource:
    auto-config.enabled: false
