---
spring:
  web.resources.static-locations: "file:./app"
cds:
  odata-v4.endpoint.path: "/api"
  messaging.services:
    bupa-messaging:
      kind: file-based-messaging
  security.mock.users:
    - name: admin
      password: admin
      roles:
      - admin
      attributes:
        businessPartner:
        - "10401010"
    - name: user
      password: user
server.servlet.encoding:
  charset: UTF-8
  force: true

---
spring:
  config.activate.on-profile: cloud
  sql.init.schema-locations: "classpath:schema-nomocks.sql"
cds:
  messaging.services:
    bupa-messaging:
      kind: enterprise-messaging
      topic-namespace: sap/S4HANAOD/dkom
  remote.services:
  - name: API_BUSINESS_PARTNER
    destination:
      name: "s4-business-partner-api"
      suffix: "/sap/opu/odata/sap"
      type: "odata-v2"
api-hub:
  api-key: "" # Place API Key from SAP API Business Hub here or use environment variable API_HUB_API_KEY

logging.group.bookshop: my.bookshop.handlers.CatalogServiceHandler
logging.level.bookshop: DEBUG

---
spring:
  config.activate.on-profile: mocked
cds:
  application.services:
  - name: API_BUSINESS_PARTNER_MOCKED
    model: API_BUSINESS_PARTNER
    serve.path: API_BUSINESS_PARTNER
  remote.services:
  - name: API_BUSINESS_PARTNER
    destination:
      name: "myself"
      suffix: "/api"

---
spring:
  config.activate.on-profile: default
cds:
  datasource:
    auto-config.enabled: false
